<div class="container">
    <div class="row text-center">
        <h1>Online Cleaning Service</h1>
    </div>
    <br>
    <div class="row text-left">
        <div class="column one-half">
            <h2>Login</h2>
            <form method="post">
                <label>Username</label>
                <input name="username" placeholder="Enter Username" type="email">
                <br>
                <label>Password</label>
                <input name="password" placeholder="Enter Password" type="password">
                <br>
                <input name="login"value="Log in" type="submit">
            </form>
        </div>
        <div class="column one-half">
        <h2>Register</h2>
            <a href="http://localhost:3000/registercustomer">
                <button>Register as a Customer</button>
            </a>
            <br>
            <a href="http://localhost:3000/registerworker">
                <button>Register as a Worker</button>
            </a>
            <br>
            
        </div>
    </div>
</div>
    

