<div class="container">
    <div class="row text-center">
        <h1>Register as a Worker</h1>
    </div>
    <div class="row text-center">
    <form method="post">
        <label>Full Name</label>
        <input name="fullname" placeholder="Enter Full Name" type="text" required>
        <br>
        <label>Email:</label>
        <input name="username" placeholder="Enter E-Mail" type="email" required>
        <br>
        <label>Password:</label>
        <input name="password" placeholder="Enter Password" type="password" required>
        <br>
        <label>Address:</label>
        <input name="address" placeholder="1234 Main St." type="text" required>
        <br>
        <label>City</label>
        <input name="city" placeholder="Toronto" type="text" required>
        <br>
        <label>Province</label>
        <select name="province" required>
            <option value="">Choose...</option>
            <option value="alberta">Alberta</option>
            <option value="britishcolumbia">British Columbia</option>
            <option value="manitoba">Manitoba</option>
            <option value="newbrunswick">New Brunswick</option>
            <option value="NFL">Newfoundland and Labrador</option>
            <option value="novascotia">Nova Scotia</option>
            <option value="ontario">Ontario</option>
            <option value="PEI">Prince Edward Island</option>
            <option value="quebec">Quebec</option>
            <option value="saskatchewan">Saskatchewan</option>
            <option value="NW">Northwest Territories</option>
            <option value="nunavut">Nunavut</option>
            <option value="yukon">Yukon</option>
        </select>
        <br>
        <label>Postal Code</label>
        <input name="postalcode" placeholder="MK2 8P9" type="text" required>
        <br>
        <label>Languages You Speak:</label>
        <input name="languages" placeholder="Enter the languages" type="text" required>
        <br>
        <label>Frequency of visits:</label>
        <input name="visits" placeholder="Enter the visits" type="text" required>
        <br>
        <input name="login" value="Authenticate and Submit" type="submit">
    </form>
    </div>
</div>