.text-center {
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right {
  text-align: right;
}

.auto-margin {
  margin-right: auto;
  margin-left: auto;
}

.mar-right {
  margin-right: 100px;
}

.mar-left {
  margin-left: auto;
}